# Q1: Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You
#have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúSkill, Designations, Companies‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the
location‚Äù field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [137]:
#importing all required liberaries

import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re
import warnings 
warnings.filterwarnings("ignore")
driver = webdriver.Chrome("chromedriver.exe")

url = 'https://www.naukri.com/'
driver.get(url)

search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

search_job.send_keys("Data Analyst")

search_location = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_location
search_location.send_keys("Bangalore")

search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div[1]/div[6]")
search_btn
search_btn.click()
job_title = driver.find_elements(By.XPATH, '//a[@class = "title fw500 ellipsis"]')

len(job_title)
job_titles = []

for i in job_title:
 job_titles.append(i.text)
len(job_titles)
job_titles


job_Location = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(job_Location)
job_Locations = []
for i in job_Location:
 job_Locations.append(i.text)
job_Locations



company_name= driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')

len(company_name)
company_names = []

for i in company_name:
    
 company_names.append(i.text)

len(company_names)
company_names





exp_req = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')

len(exp_req)
experience = []
for i in exp_req:
    
  experience.append(i.text)
len(experience)
experience


jobs= pd.DataFrame()
jobs['Job Title']= job_titles
jobs['Location Of Job']= job_Locations
jobs['Name Of Companies']=Company_names
jobs['Experience Required']=experience
jobs
jobs.head(10)

,Job Title,Location Of Job,Name Of Companies,Experience Required
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
1,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
3,"Hiring Data Analyst - Forensics, KPMG India","Bangalore/Bengaluru, Noida, Kolkata, Mumbai, G...",KPMG India,2-6 Yrs
4,Data Analyst/Senior Data Analyst,Bangalore/Bengaluru,Meesho,3-6 Yrs
5,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
6,Business Analyst / Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",cliqhr.com,5-10 Yrs
7,Software Technical Expert - Data Analyst,Bangalore/Bengaluru,Schneider Electric,3-6 Yrs
8,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
9,Sales Data Analyst,Bangalore/Bengaluru,NUANCE INDIA PVT LTD,1-3 Yrs

Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, Companies‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the
location‚Äù field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [12]:

import selenium 
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
options = Options()
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")
driver = webdriver.Chrome("chromedriver.exe")

url = 'https://www.naukri.com/'
driver.get(url)

search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

search_job.send_keys("Data Scientist")

search_location = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_location
search_location.send_keys("Bangalore")

search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div[1]/div[6]")
search_btn
search_btn.click()

job_title = driver.find_elements(By.XPATH, '//a[@class = "title fw500 ellipsis"]')
len(job_title)

job_titles = []
for i in job_title:
 job_titles.append(i.text)
job_titles


job_Location = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(job_Location)
job_Locations = []
for i in job_Location:
 job_Locations.append(i.text)
job_Locations



company_name = driver.find_elements(By.XPATH, '//a[@class= "subTitle ellipsis fleft"]')

len(company_name)

company_names = []

for i in company_name:
    
 company_names.append(i.text)
company_names

#len(company_names)



jobs= pd.DataFrame()

jobs['Job Title']= job_titles
jobs['Location Of Job']= job_Locations
jobs['Name Of Companies']=company_names

jobs
jobs.head(10)

,Job Title,Location Of Job,Name Of Companies
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS)
2,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
3,Data Scientist,Bangalore/Bengaluru,Applied Materials
4,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
5,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
6,Research Scientist,Bangalore/Bengaluru,IBM
7,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
8,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
9,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU

Ques3:

In this question you have to scrape data using the filters available on the webpage as shown below:
ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [33]:
import time
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering ‚ÄúData Scientist‚Äù in ‚ÄúSkill,Designations,Companies‚Äù field

search_field_designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")   #job  search bar
search_field_designation.send_keys("Data Scientist")

# clicking the search button
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div[1]/div[6]")
search_btn
search_btn.click()


# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]


time.sleep(5)
#finding the delhi/ncr check box
loc=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
loc.click()
time.sleep(5)


# finding the salary check box
slry_box = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
slry_box.click()
time.sleep(5)

#scraping the job-titles
titles=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
        
time.sleep(5)


#scraping the job-location
locations=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        
time.sleep(5)
#scraping the company_name 


companies=driver.find_elements(By.XPATH,"//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
        
time.sleep(5)


#scraping the experience_required 
experience=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
time.sleep(5)    

 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"experience_required":experience_required[0:10],"company_name":company_name[0:10],
                 "job_location":job_location[0:10]})

df

,job_title,experience_required,company_name,job_location
0,DigitalBCG GAMMA Data Scientist,2-5 Yrs,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru"
1,Senior Associate - Data Science,4-7 Yrs,(113 Reviews),"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr..."
2,Data Scientist - Noida/Bangalore,5-10 Yrs,Black Turtle,"Noida, Bangalore/Bengaluru"
3,Data Scientist For Healthcare Product team,2-7 Yrs,(54 Reviews),"Delhi / NCR, Chennai, Bangalore/Bengaluru"
4,Data Scientist For Healthcare Product team,2-7 Yrs,EXL,"Delhi / NCR, Chennai, Bangalore/Bengaluru"
5,Data Scientist - Machine learning AI,3-8 Yrs,(928 Reviews),"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ..."
6,Data Scientist - MIND Infotech,4-8 Yrs,8KMiles Software Services,Noida
7,Data Scientist - Engine Algorithm,1-3 Yrs,(15 Reviews),"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
8,Knowledge/Data Scientist,3-6 Yrs,8KMiles Software Services,Delhi / NCR
9,Data Scientist,2-4 Yrs,(15 Reviews),"Delhi / NCR, Pune, Bangalore/Bengaluru"

Ques 4
Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter ‚Äúsunglasses‚Äù in the search field where ‚Äúsearch for products, brands and more‚Äù is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the ‚ÄúNext‚Äù Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [50]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = " https://www.flipkart.com"
driver.get(url)
time.sleep(6)



search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys("sunglasses")
search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.submit()
glass_brand=[]
glass_description=[]
glass_price=[]
glass_discount=[]

time.sleep(5)

start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements(By.CLASS_NAME,'_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        glass_brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')#scraping description from the xpath
    for i in desc:
        glass_description.append(i.text)#appending the description in list
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        glass_price.append(i.text)
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[10].get_attribute('href'))
        #scrapping all product Url
product_url = []
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    url=driver.find_elements(By.XPATH,"//a[@class='_2UzuFa']")
    for i in url:
        product_url.append(i.get_attribute('href'))
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))     #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
# scraping discount from each product url
for product in product_url:
    driver.get(product)
    try:
        disc=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[3]/div/div[3]/div[1]/div/div[3]/span")# scraping the discount from the absolute xpath
        glass_discount.append(disc.text)
    except NoSuchElementException:
        glass_discount.append("No Discount")          
len(glass_brand),len(glass_description),len(glass_price),len(glass_discount),len(product_url)
#creating a dataframe
df=pd.DataFrame({'Brand':glass_brand[:120],
                'Description':glass_description[:120],
                'Price':glass_price[:120],
                'Discount':glass_discount[:120]})
#printing dataframe
df(head=100)

IndexError: list index out of range

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter ‚Äúiphone 11‚Äù in ‚ÄúSearch‚Äù field .
3. Then click the search button.
You will reach to the below shown webpage .
As
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [60]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = " https://www.flipkart.com"
driver.get(url)
time.sleep(6)
search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys("iphone11")
search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.submit()

# Creating empty list
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

#scraping 10 pages url
url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
    
url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
    
urls
time.sleep(4)


for i in urls:
    driver.get(i)
    #for scrapping the number of stars
for j in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
 stars.append(j.text)
stars
    #for scrapping the short review
short_review=[]
for k in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
 short_review.append(k.text)

short_review
    #for scrapping the complete review
for l in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
 complete_review.append(l.text)
complete_review
        #Combining all the lists into a single dataframe
#df=pd.DataFrame({'Ratings': stars,'Short Review': short_review,'Full Review': complete_review})


df = pd.DataFrame()

df['Ratings']= stars
df['Short Review']= short_review
df['Full Review']=complete_review

df

,Ratings,Short Review,Full Review
0,NaN,WORTH THE WAIT...and...GREAT SERVICE FROM FLIP...,I had deliberately delayed writing a review fo...
1,NaN,iphone 6 plus,well was dreaming about iphone with big screen...
2,NaN,Excellent,awesome\n\nscreen quality better than any othe...
3,NaN,Must buy!,Its doenst need any review i guess so
4,NaN,Classic !!!!,1.You never gonna feel the quality of this mob...
5,NaN,Must buy!,Still using it in 2019 üòÇ
6,NaN,Best phone still @25-27K,Purchased at BBD @2016 Oct. After 5months of u...
7,NaN,Terrific purchase,Using since 2018 and it still works well!
8,NaN,Good phone but not for the power user,Apple's iPhone series have been known for thei...
9,NaN,Super!,This review is after 6 year of purchasing this...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [ ]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

url = " https://www.flipkart.com"
driver.get(url)
#close log_in window
#log_in_pop_up = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
#log_in_pop_up.click()


search_product = driver.find_element_by_class_name('_3704LK')
search_product.send_keys("sneakers")
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()
#creating the empty list
brand=[]
description=[]
price=[]
discount=[]


time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
        
        
time.sleep(2)        
# Since in some records not getting description so try from inside of urls
urls = []

for page in range(0,4):#for loop for scrapping 4 page
    
    product_url = driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
         nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
time.sleep(2)        
for i in urls:
    driver.get(i)
    desc=driver.find_elements_by_xpath('//span[@class="B_NuCI"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
time.sleep(2)        
time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
#printing dataframe
df

Q8: Go to webpage https://www.amazon.in/
Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon.
Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:
AfterAfter setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
ASSIGNMENT

In [ ]:
url = " https://www.amazon.in"
driver.get(url)
search_laptop = driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')
search_laptop.send_keys("laptops")
search_butn = driver.find_element_by_xpath("//*[@id='nav-search-submit-button']")
search_butn.click()
search_process = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in search_process:
    if i.text=="Intel Core i7":
        i.click()
        break
                                               
search_process1 = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in search_process1:
    if i.text=="Intel Core i9":
        i.click()
        break
title_tags3 = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title_tags3
product_titles=[]
for i in title_tags3[:18]:
    product_titles.append(i.text)
print("list of product titles:",*product_titles,sep=('\n\n'))     
product_stars = driver.find_elements_by_xpath("//div[@class='a-row a-size-small']")
product_stars
product_sta=[]
for i in product_stars[:18]:
    product_sta.append(i.text)
print("list of product stars:",*product_sta,sep=('\n\n'))     

product_money = driver.find_elements_by_xpath("//span[@class='a-price']")
product_money
product_mon=[]
for i in product_money[:18]:
    product_mon.append(i.text)
print("list of product money:",*product_mon,sep=('\n\n'))     
    
    laptops = pd.DataFrame({})
laptops['Titles'] =product_titles
laptops['Money']  =product_mon
laptops['Stars']  =product_sta
laptops

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3.3. After reaching to the next webpage, In place of ‚ÄúSearch by Designations, Companies, Skills‚Äù enter
‚ÄúData Scientist‚Äù and click on search button.
ASSIGNMENT 2
4. You will reach to the following web page click on location and in place of ‚ÄúSearch location‚Äù enter
‚ÄúNoida‚Äù and select location ‚ÄúNoida‚Äù.
5.5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.